{% extends "layouts/layout.html.twig" %}
{% block content %}



<section class="contacts">
	<div class="container">
		<div class="contacts__map"></div>
		<div class="contacts__list"></div>
		<h2>Благотворительный фонд «АдВИТА»</h2>
		<p>Помощь больным раком и онкологическим отделениям больниц Петербурга</p>
		<a href="">http://advita.org/</a>
		<p>
			<span>Адрес:</span> Санкт-Петербург,
Каменноостровский пр. 40, офис 508 (5 эт.)
ст. метро Петроградская
		</p>
		<p>
			<span>Эл. почта:</span> elena.advita@gmail.com</br>
			<span>Телефон:</span> 8 (812) 337-27-33
		</p>



	</div>
</section>


{% endblock %}