{% extends "layouts/layout.html.twig" %}
{% block content %}



<section class="faq">
	<div class="container">
		<input type="button">
		<div class="faq__block">
			<dl>
				<dt>
					<p class="question">
						Поясните, пожалуйста, в чем основная функция совета, и как он поможет нам решать социальные проблемы?
					</p>
					<p><span class="autor">Владимир Соколов  |  </span><span class="when">21.10.14 в 13:01</span></p>
				</dt>
					<dd>
						пасибо за Ваш вопрос. 
Организовать сбор вещей можно в любом городе. Это можно сделать как своими силами, так и с привлечением волонтеров местных НКО и экспертов. Важно продумать логистику и взять на себя функции координатора. Чиновники из департамента социальной защиты населения помогут найти помещение, куда все желающие будут привозить вещи. В их компетенции также дать объявления в местные СМИ о проводимой акции. Так большее число людей узнает о Вашей инициативе, и скорее всего, найдутся волонтеры, которые помогут с сортировкой вещей, и спонсоры, которые возьмут на себя расходы на транспортировку.
					</dd>

				<dt></dt>
					<dd></dd>
			</dl>
		</div>
	</div>
</section>


{% endblock %}