{% extends "layouts/layout.html.twig" %}
{% block content %}

	<ul class="bxslider">
		<li>
		  	<img class="bxslider__image" src="/assets/images/index/slide1.jpg" alt="">
			<p class="bxslider__text"><b>Юлия Басова:</b> Мы работаем </br> в постоянном диалоге с обществом</p>
		</li>
		<li><img src="/assets/images/index/slide1.jpg" alt=""></li>
		<li><img src="/assets/images/index/slide1.jpg"></li>
	</ul>



	<section class="help">
		<div class="container">
			<h2>Если Вы хотите помочь</h2>
			<ul>
				<li><a href="" class="help__button"><i class="sprite sprite-heart"></i><p>как волонтер</p></a></li>
				<li><a href="" class="help__button"><i class="sprite sprite-brilliant"></i><p>денежными средствами</p></a></li>
				<li><a href="" class="help__button"><i class="sprite sprite-eye"></i><p>как общественный контролер</p></a></li>
			</ul>
		</div>
	</section>

<a href="/news.html">news</a>
<a href="/contacts.html">contacts.html</a>
<a href="/faq.html">faq.html</a>
<a href="/index.html">index</a>
<a href="/iz_istorii.html">iz_istorii</a>
<a href="/news_page.html">news_page</a>
<a href="/sostav_soveta.html">sostav_soveta</a>
<a href="/vypiska.html">vypiska</a>


{% endblock %}
