{% extends "layouts/layout.html.twig" %}
{% block content %}



<section class="news">
	<div class="container">
		<div class="news__block">
			<h3 class="news__block__title">Сегодня, в 13:22</h3>
			<div class="news__block__content">

				<div class="news__content__img">
					<img src="/assets/images/news.jpg" alt="">
				</div>
				
				<p class="news__content__txt">О. Ю. Голодец: россияне не пострадают от ограничения госзакупок иностранных лекарств</p>
			</div>
		</div>

		<div class="news__block">
			<h3 class="news__block__title">Сегодня, в 13:22</h3>
			<div class="news__block__content">
				<img class="news__content__img" src="/assets/images/news.jpg" alt="">
				<p class="news__content__txt">О. Ю. Голодец: россияне не пострадают от ограничения госзакупок иностранных лекарств</p>
			</div>
		</div>

		<div class="news__block">
			<h3 class="news__block__title">Сегодня, в 13:22</h3>
			<div class="news__block__content">
				<img class="news__content__img" src="/assets/images/news.jpg" alt="">
				<p class="news__content__txt">О. Ю. Голодец: россияне не пострадают от ограничения госзакупок иностранных лекарств</p>
			</div>
		</div>

		<div class="news__block">
			<h3 class="news__block__title">Сегодня, в 13:22</h3>
			<div class="news__block__content">
				<img class="news__content__img" src="/assets/images/news.jpg" alt="">
				<p class="news__content__txt">О. Ю. Голодец: россияне не пострадают от ограничения госзакупок иностранных лекарств</p>
			</div>
		</div>
	</div>
</section>


{% endblock %}