{% extends "layouts/layout.html.twig" %}
{% block content %}





<section class="news_page">
	<div class="container">
		<h2>О. Ю. Голодец: россияне         не пострадают от ограничения госзакупок иностранных лекарств</h2>
		<p>Ранее Минпромторг предложил ограничить доступ производителям     не из стран Таможенного союза              к госзакупкам лекарств в РФ</p>
		<div>
			<img src="" alt="">
			<div class="hower">
				<p>Фото: © ИТАР-ТАСС</p>
				<p>Станислав Красильников</p>
			</div>
		</div>
		<p>
			Российские потребители не пострадают в случае введения ограничения на госзакупки иностранных лекарств. Такое мнение высказала журналистам в кулуарах сочинского инвестиционного форума вице-премьер РФ Ольга Голодец.
«Мы сейчас вместе с заинтересованными ведомствами работаем, чтобы потребители ни в коем случае не пострадали, если на российском рынке каких-то лекарств отечественного производства нет, мы не имеем право их закрывать», - подчеркнула она.
		</p>

	<div class="then">
		<p class="time">Сегодня, в 10:02</p>
		<p class="source">Источник: <a href="">itar-tass</a></p>
	</div>
	</div>
</section>


{% endblock %}