{% extends "layouts/layout.html.twig" %}
{% block content %}



<section class="vipiski">
	<div class="container">
		<input type="button" value="Скачать выписки">

		<div class="block__vipiski">
			<h3 class="block__vipiski__then">от 15 сентября 2014 года</h3>
			<p>
				Выписка из протокола заседания Совета при Правительстве Российской Федерации по вопросам попечительства в социальной сфере
			</p>
		</div>
	</div>
</section>


{% endblock %}