{% extends "layouts/layout.html.twig" %}
{% block content %}

	<section class="history">
		
		<div class="container_plus">
			<h1 class="history_title">История российской благотворительности</h1>
		</div>

		<dl>	
			<div class="era_block">
				<dt data-question="old_rus" class="era container_plus select_history">
					<h2>Благотворение Древней Руси</h2>
				</dt>
					<dd data-answer="old_rus" class="hide">
						<div class="era_img_block">
							<div class="era_img" style="background-image: url(/assets/images/history.jpg);"></div>
							<div class="img_hower">
								<p class="container">
									Благотворительная деятельность монастыря.</br>Миниатюра из рукописи «Житие Сергия Радонежского». Конец XVI в.
								</p>
							</div>
						</div>
						<div class="era_txt_block container_plus">
							<p class="era_txt ">
								Истоки русской благотворительности уходят корнями в глубокую древность. К тем време- нам, когда церковь была основой государст- венности. Монастыри давали приют осиро- тевшим и больным, делились зерном для по- сева с бедными крестьянами, обучали грамоте. Для славян, никогда не отличав- шихся агрессивностью, поддержка ближнего, сострадание и человеческая доброта были традиционными чертами характера во все времена. 
							</p>
								<p class="mark fw_bold">
									Введенная Владимиром десятина, предназначавшаяся на содержание монастырей и церквей, расходова- лась в том числе на богадельни и больницы.
								</p>							
							<p class="era_txt">
								Государственная политика постепенно стала заменять главенствующую роль церкви в деле заботы попечения о нуждающихся только к концу XVII в.
							</p>
						</div>


						<i data-arrow="old_rus" class="sprite arrow_history sprite-up_blue"></i>
					</dd>
			</div>
			<div class="era_block">
				<dt data-question="kate" class="era container_plus select_history">
					<h2>Екатерининская эпоха</h2>
				</dt>
					<dd data-answer="kate" class="hide">
						<div class="era_img_block">
							<div class="era_img" style="background-image: url(/assets/images/history.jpg);"></div>
							<div class="img_hower">
								<p class="container">
									Благотворительная деятельность монастыря.</br>Миниатюра из рукописи «Житие Сергия Радонежского». Конец XVI в.
								</p>
							</div>
						</div>
						<div class="era_txt_block container_plus">
							<p class="era_txt ">
								Истоки русской благотворительности уходят корнями в глубокую древность. К тем време- нам, когда церковь была основой государст- венности. Монастыри давали приют осиро- тевшим и больным, делились зерном для по- сева с бедными крестьянами, обучали грамоте. Для славян, никогда не отличав- шихся агрессивностью, поддержка ближнего, сострадание и человеческая доброта были традиционными чертами характера во все времена. 
							</p>
								<p class="mark fw_bold">
									Введенная Владимиром десятина, предназначавшаяся на содержание монастырей и церквей, расходова- лась в том числе на богадельни и больницы.
								</p>							
							<p class="era_txt">
								Государственная политика постепенно стала заменять главенствующую роль церкви в деле заботы попечения о нуждающихся только к концу XVII в.
							</p>
						</div>

						<i data-arrow="kate" class="sprite arrow_history sprite-up_blue"></i>
					</dd>
			</div>
				
		</dl>
			
		</div>
	</section>


{% endblock %}