{% extends "layouts/layout.html.twig" %}
{% block content %}


	<section class="news_page">
		<div class="container">
			<h1>О. Ю. Голодец: россияне не пострадают от ограничения госзакупок иностранных лекарств</h1>
			<h3>
				Ранее Минпромторг предложил ограничить доступ производителям не из стран Таможенного союза к госзакупкам лекарств в РФ
			</h3>
		</div>
			<div class="page__img">
				<img src="../assets/images/drugs.jpg" alt="">
				<div class="img_hower">
					<p class="container">
						Фото: © ИТАР-ТАСС </br>
						Станислав Красильников
					</p>
				</div>
			</div>
		<div class="container">
			<div class="news__text">
				<p>
					Российские потребители не пострадают в случае введения ограничения на госзакупки иностранных лекарств. Такое мнение высказала журналистам в кулуарах сочинского инвестиционного форума вице-премьер РФ Ольга Голодец.
					</br>
					</br>
					«Мы сейчас вместе с заинтересованными ведомствами работаем, чтобы потребители ни в коем случае не пострадали, если на российском рынке каких-то лекарств отечественного производства нет, мы не имеем право их закрывать», - подчеркнула она.
				</p>
			</div>

			<div class="news__end">
				<p class="when">Сегодня, в 10:02</p>
				<p><span class="grey_txt">Источник: </span><a href="">itar-tass</a></p>
			</div>
			
		</div>
	</section>
	
{% endblock %}
