{% extends "layouts/layout.html.twig" %}
{% block content %}

	<section class="news">
		<div class="container">
			<div class="news__block">
				<a href="news_page.html">
					<div class="when news__when">
						<p class="news__content pull_right">Сегодня, в 13:22</p>
					</div>
					
					<div class="news__img"  style="background-image: url(/assets/images/news.jpg);">
					</div>
					
					<h3 class="news__content">О. Ю. Голодец: россияне не пострадают от ограничения госзакупок иностранных лекарств</h3>			
				</a>
			</div>

			
			<div class="news__block">
				<a href="news_page.html">
					<div class="when news__when">
						<p class="news__content pull_right">Вчера, в 13:22</p>
					</div>
				
					<div class="news__img" style="background-image: url(/assets/images/news.jpg);">
					</div>
				
					<h3 class="news__content">Члены Совета при О. Ю. Голодец обсудили как помочь детям-аутистам</h3>	
				</a>			
			</div>



			<div class="news__block">
				<a href="news_page.html">
					<div class="when news__when">
						<p class="news__content pull_right">Вчера, в 19:01</p>
					</div>
				
					<div class="news__img" style="background-image: url(/assets/images/news.jpg);">
					</div>
				
					<h3 class="news__content">«Артель Блаженных» как пример трудоустройства людей с ментальной инвалидностью</h3>
				</a>
			</div>


			<div class="news__block">
				<a href="news_page.html">
					<div class="when news__when">
						<p class="news__content pull_right">21.10.2014</p>
					</div>
				
					<div class="news__img" style="background-image: url(/assets/images/news.jpg);">
					</div>
				
					<h3 class="news__content">Юлия Басова: мы работаем в постоянном диалоге с обществом</h3>
				</a>			
			</div>



			<div class="news__block">
				<a href="news_page.html">
					<div class="when news__when">
						<p class="news__content pull_right">20.10.2014</p>
					</div>
				
					<div class="news__img" style="background-image: url(/assets/images/news.jpg);">
					</div>
				
					<h3 class="news__content">Общественный совет при Минтруде России опасается, что ряд социальных услуг не попадет в государственный перечень</h3>
				</a>
			</div>


			<button class="blue_button">Загрузить больше</button>
			
		</div>
	</section>


{% endblock %}