{% extends "layouts/layout.html.twig" %}
{% block content %}


		<section class="map">
			<div class="container">
				<div id="map_canvas">
					
				</div>

				<h3>Список НКО</h3>
				
				<div class="select_block">
					<select name="" id="">
						<option value="Spb">Санкт-Петербург</option>
						<option value="Spb">Санкт-Петербург</option>
						<option value="Spb">Санкт-Петербург</option>
					</select>
				</div>
				

				<h3>Благотворительный фонд «АдВИТА»</h3>

				<p>
					Помощь больным раком и онкологическим отделениям больниц Петербурга
				</p>

				<a href="http://advita.org/">http://advita.org/</a>
				<p><span class="grey_txt">Адрес:</span> Санкт-Петербург, Каменноостровский пр. 40, офис 508 (5 эт.) ст. метро Петроградская</p>

				<p>
					<span class="grey_txt">Эл. почта:</span> elena.advita@gmail.com</br>
					<span class="grey_txt">Телефон:</span> 8 (812) 337-27-33
				</p>
			</div>
		</section>

{% endblock %}
