{% extends "layouts/layout.html.twig" %}
{% block content %}
	<section class="sostav_soveta">
		<div class="container">
			<div class="member">
				<div class="red_dorder">
					<div class="member__portrait" style="background-image: url(/assets/images/drugs.jpg);"></div>
				</div>
				
				<div class="member__about pull_right">
					<h3>Ольга Юрьевна Голодец</h3>
					<p>Председатель Совета при Правительстве РФ по вопросам попечительства в социальной сфере</p>
				</div>
			</div>


			<div class="member">
				<div class="red_dorder">
					<div class="member__portrait" style="background-image: url(/assets/images/drugs.jpg);"></div>
				</div>
				<div class="member__about pull_right">
					<h3>Юлия Васильевна Басова</h3>
					<p>Зампред Совета при Правительстве РФ по вопросам попечительствав социальной сфере</p>
				</div>
			</div>

			<div class="member">
				<div class="red_dorder">
					<div class="member__portrait" style="background-image: url(/assets/images/drugs.jpg);"></div>
				</div>
				<div class="member__about pull_right">
					<h3>Елена Андреевна Тополева-Солдунова</h3>
					<p>Зампред Совета по вопросам попечительства в социальной сфере </p>
					<p>директор автономной НКО «Агентство социальной информации»</p>
				</div>
			</div>


			<div class="member">
				<div class="red_dorder">
					<div class="member__portrait" style="background-image: url(/assets/images/drugs.jpg);"></div>
				</div>
				<div class="member__about pull_right">
					<h3>Григорий Александрович Потапов</h3>
					<p>Зампред Совета при Правительстве РФ по вопросам попечительства в социальной сфере</p>
					<p>первый заместитель генерального директора по экономике и инвестициям ФГУП «Микроген»</p>
				</div>
			</div>


			<div class="member">
				<div class="red_dorder">
					<div class="member__portrait" style="background-image: url(/assets/images/drugs.jpg);"></div>
				</div>
				<div class="member__about pull_right">
					<h3>Емельянова Елена Владимировна</h3>
					<p>Ответственный секретарь Совета при Правительстве РФ по вопросам попечительства в социальной сфере</p>
					<p>референт Секретариата ЗамПреда Правительства РФ О. Ю. Голодец</p>
				</div>
			</div>
			
			<button class="blue_button">Загрузить больше</button>
			
		</div>
	</section>
{% endblock %}